//Resources for logon program
//These are the non-bootstrapped resources

STRINGTABLE
{
	1,	"P4$o*T?"
	2,	"de'0dfkeomcUY"
	3,	"F&%$jnsIT"
	4,	"ent(786)you"
	5,	"105738e"
	6,	"to53ranwix@CC" 
	7,	"ri^~#mm"
	8,	"dskljgnlkz"
	9,	"B^*%D$%hgiu8sic"
	10,	"nibVYly7B&O*("
	11,	"B*&GBi"
	12,	"73847"
	13,	"V&F^%FV7ifs"
	14,	"76tb"
	15,	"^*&BUY"
	16,	"b78d5ui67"
	17,	"j5(sFm!d0/"
	18, "rew"
	19, "q"
}